Ex12/WebApplicationClient/src/conf/xml-resources/web-service-references/Ex12WebService/wsdl/localhost_8080/WebApplication/Ex12WebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="recordReview" type="tns:recordReview"/>

<xs:element name="recordReviewResponse" type="tns:recordReviewResponse"/>

<xs:element name="showReview" type="tns:showReview"/>

<xs:element name="showReviewResponse" type="tns:showReviewResponse"/>

<xs:complexType name="showReview">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showReviewResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recordReview">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="age" type="xs:int"/>
<xs:element name="rating" type="xs:int"/>
<xs:element name="review" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recordReviewResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>